In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp310-cp310-win_amd64.whl (10.4 MB)
     ---------------------------------------- 10.4/10.4 MB 9.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sgsun\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\sgsun\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ------------------------------------- 499.4/499.4 kB 10.4 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\sgsun\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.3 pytz-2022.7.1

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("datasets\wine.csv")

In [4]:
df.head(8)

,Unnamed: 0,item_code,item_name,display_level,selectable,sort_sequence
0,0,AA0,All items - old base,0,T,2
1,1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
2,2,SA0,All items,0,T,1
3,3,SA0E,Energy,1,T,375
4,4,SA0L1,All items less food,1,T,359
5,5,SA0L12,All items less food and shelter,1,T,362
6,6,SA0L12E,"All items less food, shelter, and energy",1,T,363
7,7,SA0L12E4,"All items less food, shelter, energy, and used...",1,T,364

In [5]:
display(df.iloc[6:7,-1])

6    363
Name: sort_sequence, dtype: int64

# Pickling

In [6]:
df_temp = df.iloc[0:10]
df_pickle = df_temp.to_pickle('datasets\df_temp')