### 1.Reverse a list

In [1]:
l = [1,2,3,4]

print(l[::-1])

[4, 3, 2, 1]

### 2.Concatenate two lists index-wise

In [3]:
list1 = ["W", "wi", "Dre", "b"]
list2 = ["e", "ll", "am", "ig"]
l = []
for i in range(len(list1)):
    l.append(list1[i] + list2[i])
print(l)

['We', 'will', 'Dream', 'big']

### 3.Turn every number of a list into its square

In [4]:
l = [2,4,5,10]
l_sq = []

for i in range(len(l)):
    l_sq.append(l[i] ** 2)
l_sq

[4, 16, 25, 100]

### 4.Remove empty strings from the list of strings

In [8]:
l = ["Code", "", "Studio", "Academy", ""]
l = list(filter(lambda x: len(x) > 0, l))
print(l)

['Code', 'Studio', 'Academy']

### 5.Add a list of elements to a set

In [10]:
set_ = {"Yellow", "Orange", "Black"} 
list_ = ["Blue", "Green", "Red"]

set_.update(list_)

print(set_)

{'Orange', 'Black', 'Yellow', 'Green', 'Blue', 'Red'}

### 6.Return a set of elements present in Set A or B, but not both

In [11]:
setA = {1,2,3,4}
setB = {1,2,5,6}

print(setA ^ setB)

{3, 4, 5, 6}

### 7.Convert two lists into a dictionary

In [12]:
key = ['Name', 'Institution', 'Subject', 'Series']
vlu = ['Sunayana', 'RUET', 'CSE', '18']

d = dict(zip(key,vlu))

print(d)

{'Name': 'Sunayana', 'Institution': 'RUET', 'Subject': 'CSE', 'Series': '18'}

### 8.Merge two Python dictionaries into one

In [13]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30} 
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### 9.Rename a key of a dictionary.

In [15]:
dict1 = {'Ant': 1, 'Ball': 2, 'Cat': 3}

dict1['Apple'] = dict1.pop('Ant')

print(dict1)

{'Ball': 2, 'Cat': 3, 'Apple': 1}

### 10.Sort a tuple of tuples by 2nd item

In [5]:
tup_of_tuples = ((1, 50), (2, 20),  (3, 30))
sorted_list = sorted(tup_of_tuples, key=lambda x: x[1])

print(sorted_list)

[(2, 20), (3, 30), (1, 50)]